<div class="row">
  <div class="col-sm-4" *ngIf="users">
    <ul class="list-group">
      <li *ngFor="let u of users" (click)="selectUser(u)" class="list-group-item" [class.active]="u == activeUser">
          {{u.name}} {{u.username}}
      </li>
    </ul>
    <app-user-form (userCreatedEvent)="onUserCreated($event)"></app-user-form>
  </div>
  <div class="col-sm-8">
    <div *ngIf="activeUser" class="user-actived">
      <div class="col-sm-11" appHighlight highlightcolor="yellow" ><h2>{{activeUser.name}} <small>{{activeUser.username}}</small></h2></div>
      <div class="col-sm-1"><h2 (click)="deleteUser()" class="hang glyphicon glyphicon-trash"></h2></div>
    </div>
    <div *ngIf="!activeUser" class="user-actived">
      <h2>Seleccionar un usuario</h2>
    </div>
  </div>
</div>
