<header>
  <div class="container">
    <nav class="navbar navbar-inverse">
        <div  class="navbar-header">
            <a class="navbar-brand" href="/">Mi Angular App!</a>                        
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav"> 
                <li routerLinkActive="active"><a routerLink="/users" >Users</a></li>
                <li routerLinkActive="active"><a routerLink="/new-user">New User</a></li>
                <li routerLinkActive="active"><a routerLink="/animations">Animations</a></li>
                <li routerLinkActive="active"><a routerLink="/contact">Contact Us</a></li>
            </ul> 
        </div>
    </nav>
  </div>
</header>
<main>
  <div class="container">
      <router-outlet></router-outlet>
  </div>
</main>


  
